section{
    text-align: center;
}
.section1{
    text-align: center;
}
section{
    line-height: 0.9;
}
.section1{
    line-height: 0.9
}
h2{
    line-height: 0.7
}
html{
    background-color:  #b9ddd8;
}
section{
    color: rgb(10, 32, 10);
}
h1{
    color: rgb(2, 34, 2)
}
.h34{
    font-size: 25px;
}
.h34{
    text-decoration: underline;
}
h2{
    text-decoration: underline;
}
h1{
    font-weight: 900;
}
.h34{
    font-weight: 650;
}
section{
    font-weight: 545;
}
nav{
    display:flex;
    justify-content:space-around
}
a:visited{
    color: rgb(0, 82, 18);
}
a:link{
    color: rgb(0, 82, 18);
}